<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Trello for Redmine</title>
    <base href="/" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />

    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../bower_components/angular-gridster/dist/angular-gridster.min.css" rel="stylesheet" />
    <link href="../bower_components/ngDialog/css/ngDialog.css" rel="stylesheet" />
    <link href="../bower_components/fontawesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//mgcrea.github.io/angular-strap/static/styles/bootstrap-additions.min.css">

    <link href="stylesheets/style.css" rel="stylesheet" />
    <link href="stylesheets/card.css" rel="stylesheet" />

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="../bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="../bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="../bower_components/ngDialog/js/ngDialog.js"></script>
    <script src="../bower_components/angular-xeditable/dist/js/xeditable.js"></script>

    <script src="../bower_components/angular-ui-bootstrap/dist/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="../bower_components/angular-gridster/dist/angular-gridster.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="app.js"></script>
    <script src="templates/trello/script.js"></script>
</head>

<body ng-app="trelloRedmine">
    <div ng-controller="RootCtrl">
        <link rel="stylesheet" ng-href="{{ styleUrl }}" />

        <div class="navbar navbar-inverse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown" ng-class="{active: page == 'trello'}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{current_project.project.name}} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="project in user_projects track by $index">
                        <a ng-href="/trello/{{project.project.id}}">{{project.project.name}}</a>
                    </li>
                  </ul>
                </li>
                <!-- <li class="project-name"><span>{{dashboard.title}}</span></li> -->
                <!-- <li class="project-hours"><span>logged hours: {{dashboard.hours}}</span></li> -->
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" ng-model="project_id">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </form>
            </ul>
        </div>

        <div class="container" ng-view></div>

    </div>
</body>

</html>