<div>
    <form editable-form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <i class="fa fa-desktop fa-4" style="float: left;margin-right: 10px;margin-top: 9px;"></i>
            <h5 style="float: left;margin-right: 5px;" editable-text="card.title" e-required>  {{card.title}}</h5>
            <h6> in list <b>{{widget.title}}</b></h6>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            Members
                            <a><i class="fa fa-plus-square-o"></i></a>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            Labels
                            <a><i class="fa fa-plus-square-o fa-3x"></i></a>
                        </div>
                    </div>
                    <a><i class="fa fa-edit"></i>  Edit the description</a>
                    </br>
                    <div style="margin-top: 20px;">
                        <div>
                            <i class="fa fa-th-list">  Tasks</i>
                            <a style="float: right;">Delete....</a>
                        </div>
                        <progressbar animate="false" value="20" type="success"><b>20%</b></progressbar>
                        <div class="task-component">
                            <div class="task-type"></div>
                            <h3 class="task-name">Task name putting here..</h3>
                            <div class="pull-right task-img">
                                <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" alt="">
                            </div>
                        </div>
                        <div class="task-component">
                            <div class="task-type"></div>
                            <h3 class="task-name">Task name putting here..</h3>
                            <div class="pull-right task-img">
                                <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3">
                    <div class="row">
                        <h4><b>Add</b></h4>
                        <table>
                            <tr>
                                <td><div><i class="fa fa-user"></i>  Members</div></td>
                            </tr>
                            <tr>
                                <td><div><i class="fa fa-ticket"></i>  Labels</div></td>
                            </tr>
                            <tr>
                                <td><div><i class="fa fa-list-ul"></i>  Tasks List</div></td>
                            </tr>
                            <tr>
                                <td><div><i class="fa fa-calendar"></i>  Due Date</div></td>
                            </tr>
                            <tr>
                                <td><div><i class="fa fa-paperclip"></i>  Attachment</div></td>
                            </tr>
                        </table>
                    </div>
                    </br>
                    <div class="row">
                        <h4><b>Actions</b></h4>
                        <table>
                            <tr>
                                <td><div><i class="fa fa-arrow-right"></i>  Move</div></td>
                            </tr>
                            <tr>
                                <td><div><i class="fa fa-files-o"></i>  Copy</div></td>
                            </tr>
                            <tr>
                                <td><div><i class="fa fa-eye"></i>  Subscribe</div></td>
                            </tr>
                            <tr>
                                <td><div><i class="fa fa-archive"></i>  Archive</div></td>
                            </tr>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="modal-footer">
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1"><i class="glyphicon glyphicon-remove"></i>Cancel</a>
            <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
        </div>
    </form>
</div>
