<div>
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3>User Story Settings</h3>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label col-lg-6 col-md-6">Thumb URL</label>
                        <div class="col-lg-6 col-md-6">
                            <input name="col" ng-model="card.thumb" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label col-lg-6 col-md-6">Title</label>
                        <div class="col-lg-6 col-md-6">
                            <input name="row" ng-model="card.title" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1"><i class="glyphicon glyphicon-remove"></i>Cancel</a>
            <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
        </div>
    </form>
</div>
