<div>
    <form editable-form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <i class="fa fa-desktop fa-4" style="float: left;margin-right: 10px;margin-top: 9px;"></i>
            <!-- <h5 style="float: left;margin-right: 5px;">  {{card.title}}</h5> -->
            <span inline="card.title"></span>
            <h6> in list <b>{{widget.title}}</b></h6>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col-lg-6 col-md-3">
                            <img class="member" title="{{card.assigned_to.firstname}} {{card.assigned_to.lastname}}"
                                     gravatar-src="'{{card.assigned_to.mail}}'" gravatar-size="100" />

                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Member
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{card.assigned_to.firstname}} {{card.assigned_to.lastname}}</a></li>
                              </ul>
                            </div>

                        </div>
                    </div>
                    <a><i class="fa fa-edit"></i>  Edit the description</a>
                    </br>
                    <div style="margin-top: 20px;">
                        <div>
                            <i class="fa fa-tasks">  Tasks</i>
                        </div>
                        <progressbar animate="false" value="20" type="success"><b>{{progress}}%</b></progressbar>
                        <div style="margin-top: 10px;">
                            <table>
                                <tr ng-repeat="task in card.tasks">
                                    <td><i class="fa fa-square"></i>  <button type="button" class="btn btn-{{task.type === 'defect' ? 'danger' : 'success'}}" title="{{task.title}}" data-content="{{task}}" data-template="templates/trello/view_task.html" data-animation="am-flip-x" data-auto-close="1" bs-popover> {{task.title}}</button></td>
                                    <!-- <td><a ng-href="{{task.redmine_url}}" target="_blank"><i class="fa fa-square"></i>  {{task.title}}</a></td> -->
                                </tr>
                            </table>
                            <div ng-repeat="task in subTasks  track by $index" class="task-component">
                                <div class="task-type"></div>
                                <input type="checkbox" ng-click="changeTaskStatus(task.id, status_val)" ng-model="status_val" ng-checked="task.status.id == 14"><h3 class="task-name"><a ng-href="http://{{config.host}}/issues/{{task.id}}" target="_blank">{{task.subject}}</h3></a>
                                <div class="pull-right task-img">
                                    <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3">
                    <div class="row">
                        <h4><b>Info</b></h4>
                            <ul class="btn-task-info">
                                <li><button type="button" class="btn btn-info"><i class="fa fa-user"></i>  Members</button></li>
                                <li><button type="button" class="btn btn-info"><i class="fa fa-list-ul"></i>  Tasks List</button></li>
                                <li><button type="button" class="btn btn-info"><i class="fa fa-calendar"></i>  Log Time</button></li>
                                <li><button type="button" class="btn btn-success"><i class="fa fa-paperclip"></i>  Attachment</button></li>
                            </ul>
                    </div>
                    </br>
                    <div class="row">
                        <h4><b>Actions</b></h4>
                        <ul class="btn-task-info">
                            <li><button type="button" class="btn btn-primary"><i class="fa fa-arrow-right"></i>  Move</button></li>
                            <li><button type="button" class="btn btn-info"><i class="fa fa-files-o"></i>  Copy</button></li>
                            <li><button type="button" class="btn btn-danger"><i class="fa fa-archive"></i>  Archive</button></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="modal-footer">
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1"><i class="glyphicon glyphicon-remove"></i>Cancel</a>
            <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
        </div>
    </form>
</div>
