<div>
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <i class="fa fa-desktop fa-4" style="float: left;margin-right: 10px;margin-top: 9px;"></i>
            <h6> Create a New User Story</b></h6>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            Members
                            </br>
                            <a><i class="fa fa-plus-square-o fa-3x"></i></a>
                        </div>
                    </div>
                    <a><i class="fa fa-edit"></i>  Edit the description</a>
                    </br>
                    <div style="margin-top: 20px;">
                        <div>
                            <i class="fa fa-tasks">  Tasks</i>
                        </div>
                        <progressbar animate="false" value="20" type="success"><b>20%</b></progressbar>
                        <div style="margin-top: 10px;">
                            <table>
                                <tr ng-repeat="task in card.tasks">
                                    <td><i class="fa fa-square"></i>  <button type="button" class="btn btn-{{task.type === 'defect' ? 'danger' : 'success'}}" title="{{task.title}}" data-content="{{task}}" data-template="views/templates/view_task.html" data-animation="am-flip-x" data-auto-close="1" bs-popover> {{task.title}}</button></td>
                                    <!-- <td><a ng-href="{{task.redmine_url}}" target="_blank"><i class="fa fa-square"></i>  {{task.title}}</a></td> -->
                                </tr>
                            </table>
                            <div class="task-component">
                                <div class="task-type"></div>
                                <h3 class="task-name">Task name putting here..</h3>
                                <div class="pull-right task-img">
                                    <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3">
                    <div class="row">
                        <h4><b>Info</b></h4>
                            <ul class="btn-task-info">
                                <li><button type="button" class="btn btn-info"><i class="fa fa-user"></i>  Members</button></li>
                                <li><button type="button" class="btn btn-info"><i class="fa fa-list-ul"></i>  Tasks List</button></li>
                                <li><button type="button" class="btn btn-info"><i class="fa fa-calendar"></i>  Log Time</button></li>
                                <li><button type="button" class="btn btn-success"><i class="fa fa-paperclip"></i>  Attachment</button></li>
                            </ul>
                    </div>
                    </br>
                    <div class="row">
                        <h4><b>Actions</b></h4>
                        <ul class="btn-task-info">
                            <li><button type="button" class="btn btn-primary"><i class="fa fa-arrow-right"></i>  Move</button></li>
                            <li><button type="button" class="btn btn-info"><i class="fa fa-files-o"></i>  Copy</button></li>
                            <li><button type="button" class="btn btn-danger"><i class="fa fa-archive"></i>  Archive</button></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="modal-footer">
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1"><i class="glyphicon glyphicon-remove"></i>Cancel</a>
            <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
        </div>
    </form>
</div>
