<div>
    <!--<form editable-form name="_form" class="form-horizontal" ng-submit="submit(_form)"> -->
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <i class="fa fa-desktop fa-4" style="float: left;margin-right: 10px;margin-top: 9px;"></i>
            <!-- <h5 style="float: left;margin-right: 5px;">  {{card.title}}</h5> -->
            <span inline="card.title"></span>
            <h6> in list <b>{{widget.title}}</b></h6>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col-lg-6 col-md-3">
                            <img class="member" title="{{card.assigned_to.firstname}} {{card.assigned_to.lastname}}"
                                     gravatar-src="'{{card.assigned_to.mail}}'" gravatar-size="100" />

                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Member
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{card.assigned_to.firstname}} {{card.assigned_to.lastname}}</a></li>
                              </ul>
                            </div>

                        </div>
                    </div>
                    <a><i class="fa fa-edit"></i>  Edit the description</a>
                    </br>
                    <div style="margin-top: 20px;">
                        <div>
                            <i class="fa fa-tasks">  Tasks</i>
                        </div>
                        <progressbar animate="false" value="20" type="success"><b>{{progress}}%</b></progressbar>
                        <div style="margin-top: 10px;">
                            <table>
                                <tr ng-repeat="task in card.tasks">
                                    <td><i class="fa fa-square"></i>  <button type="button" class="btn btn-{{task.type === 'defect' ? 'danger' : 'success'}}" title="{{task.title}}" data-content="{{task}}" data-template="views/templates/view_task.html" data-animation="am-flip-x" data-auto-close="1" bs-popover> {{task.title}}</button></td>
                                    <!-- <td><a ng-href="{{task.redmine_url}}" target="_blank"><i class="fa fa-square"></i>  {{task.title}}</a></td> -->
                                </tr>
                            </table>
                            <accordion close-others="true">
                            <div ng-repeat="task in subTasks track by $index" class="task-component">
                                <div class="task-type" style="background-color: {{getTaskColor(task.status.id)}}"></div>
                                <input class="pull-left" type="checkbox" ng-click="changeTaskStatus(task, status_val)" ng-model="status_val" ng-checked="task.status.id == 14">
                                    <div class="pull-left" onaftersave="updateTask(task)" editable-text="task.subject" e-form="textBtnForm"> <accordion-group heading="{{task.subject}}">priority: {{task.priority.name}}<br>assigned to: 

                                        <a href="#" onaftersave="updateTask(task)" editable-select="task.assigned_to_id" e-ng-options="m.id as m.name for m in projectMembers">
                                                {{ showName(task) }}
                                         </a>
                                        <br>description:
                                            <div ng-bind-html="parseTrustSnippt(task.description)"></div>
                                    </accordion-group></div>
                                    <a ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
                                        <i class="fa fa-edit"></i> edit
                                    </a>
                                    <a confirmed-click="deleteTask(task)" ng-confirm-click="Are you sure about deleting this task?">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                    <a ng-href="http://{{config.host}}/issues/{{task.id}}" target="_blank">redmine link</a>
                                <div class="pull-right task-img">
                                    <img class="us-member member" title="{{task.assigned_to.firstname}} {{task.assigned_to.lastname}}" gravatar-src="task.assigned_to.mail" gravatar-size="100" />
                                </div>
                            </div>
                            </accordion>
                            <a href="#" onaftersave="createNewTask()" editable-text="newTask.subject" > Add a task</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3">
                    <div class="row">
                        <h4><b>Info</b></h4>
                            <ul class="btn-task-info">
                                <li><button type="button" class="btn btn-info"><i class="fa fa-calendar"></i>  Log Time</button></li>
                                <li><button type="button" class="btn btn-success"><i class="fa fa-paperclip"></i>  Attachment</button></li>
                            </ul>
                    </div>
                    </br>
                    <div class="row">
                        <h4><b>Actions</b></h4>
                        <ul class="btn-task-info">
                            <li><button type="button" class="btn btn-primary"><i class="fa fa-arrow-right"></i>  Move</button></li>
                            <li><button type="button" class="btn btn-info"><i class="fa fa-files-o"></i>  Copy</button></li>
                            <li><button type="button" class="btn btn-danger"><i class="fa fa-archive"></i>  Archive</button></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

        <!--<div class="modal-footer">
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1"><i class="glyphicon glyphicon-remove"></i>Cancel</a>
            <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
        </div>
    </form>-->
</div>
