<div>
  <link rel="stylesheet" ng-href="{{ styleUrl }}" />
  <div class="navbar navbar-inverse">
    <ul class="nav navbar-nav navbar-left">
      <div class="choise-select">
        <span>Release</span>
        <select class="selectpicker">
          <option>Mustard</option>
          <option>Ketchup</option>
          <option>Relish</option>
        </select>
      </div> <!-- end of choise-select -->
      <div class="choise-select">
        <span>Sprint</span>
        <select class="selectpicker">
          <option>Mustard</option>
          <option>Ketchup</option>
          <option>Relish</option>
        </select>
      </div> <!-- end of choise-select -->
      <a href="#">Scrummer</a>
    </ul>
  </div> <!-- end of navbar -->

  <div class="page-header">
    <div class="col-headers col-lg-3 col-md-3 col-xs-3">
      <span>Defined</span>
    </div>
    <div class="col-headers col-lg-3 col-md-3 col-xs-3">
      <span>Inprogress</span>
    </div>
    <div class="col-headers col-lg-3 col-md-3 col-xs-3">
      <span>Completed</span>
    </div>
    <div class="col-headers col-lg-3 col-md-3 col-xs-3">
      <span>Activities</span>
    </div>
  </div> <!-- end of page-header -->

  <div gridster="gridsterOptions">
    <div ng-model="widgets">
      <ul>
        <li gridster-item="widget" ng-repeat="widget in widgets | filter: {allowed: true}">
          <div class="box column-box" ng-controller="CustomWidgetCtrl">
            <div class="box-header">
              <section>
                <h3>{{widget.title}}</h3>
              </section>
              <div class="box-header-btns pull-right">
                <i>{{widget.cards.length}}</i>
                  <a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
                  <a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
              </div>
            </div> <!-- end of box-header -->
            <div class="box-content">
              <ul class="connectedSortable" ui-sortable="sortableTemplates" sortable ng-model="widget.cards" widget-status="{{widget.status_id}}">
                <li class="card" ng-repeat="card in widget.cards" id="{{card.id}}">
                  <div class="card-header heigh">
                    <a ng-href="http://{{config.host}}/issues/{{card.id}}" target="_blank" class="id">{{card.id}}</a>
                    <h5>{{card.subject}}</h5>
                  </div> <!-- end of card-header -->

                  <accordion close-others="oneAtATime">
                    <accordion-group>
                      <accordion-heading><i id="accord-{{card.id}}" ng-hide="false" href="#" class=""></accordion-heading>
                      <div ng-repeat="task in card.subTasks track by $index" class="task-component">
                        <div class="task-line">
                          <div class="task-line-info">
                            <input class="pull-left" type="checkbox" ng-click="changeTaskStatus(card, task, status_val)" ng-model="status_val" ng-checked="task.status.id == 14">
                            <a target="_blank" href="http://{{config.host}}/issues/{{task.id}}" class="id">{{task.id}}</a>
                            <p>{{task.subject}}</p>
                          </div> <!-- end of task-line-info -->

                          <div class="related-task-image">
                            <img class="member" title="{{task.assigned_to.name}}" gravatar-src="'{{task.assigned_to.mail}}'" gravatar-size="100" />
                          </div>
                        </div> <!-- end of task-line -->

                        <div class="related-task-icons">
                          <ul>
                            <li><a href="" data-toggle="modal"><i class="fa fa-plus"></i></a></li>
                            <li><a href="" data-toggle="modal" data-target="#relatedTask-modal{{task.id}}"><i class="fa fa-arrows-alt"></i></a></li>
                            <li><a href="#" confirmed-click="deleteTask(task)" ng-confirm-click="Are you sure about deleting this task?"><i class="fa fa-trash-o"></i></a></li>
                          </ul>
                        </div> <!-- end of related-task-icons -->

                        <!-- modal that contains task details -->
                          <div class="modal fade" id="relatedTask-modal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
                                    <span><a href="#" onaftersave="updateTask(card)" editable-text="card.subject">{{card.subject}}</a></span>
                                    <!--<img style="width: 50%; height: 50%; " ng-src="{{getImageLink(card)}}" />-->
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-lg-12">
                                        <div class="userstory-edit-img">
                                            <img class="member" title="{{card.assigned_to.firstname}} {{card.assigned_to.lastname}}" gravatar-src="'{{card.assigned_to.mail}}'" gravatar-size="100" />
                                        </div>
                                        <p><b>Added by: </b> {{card.author.name}}</p>
                                        <p><b>From: </b> {{card.created_on}}</p>
                                        <p><b>Updated: </b> {{card.updated_on}}</p>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="modal-row col-lg-12">
                                        <table>
                                          <tr>
                                              <td style="width:30%;"><b class="blue-text">Description:</b></td>
                                              <td>Integrate all functions</td>
                                          </tr>
                                          <tr>
                                              <td style="width:30%;"><b class="blue-text">Assignee:</b></td>
                                              <td></td>
                                          </tr>
                                          <tr>
                                              <td style="width:30%;"><b class="blue-text">Status:</b></td>
                                              <td>0</td>
                                          </tr>
                                        </table>
                                    </div>
                                 </div>
                                </div>
                                
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        <!-- end of modal -->
                      </div> <!-- end of task card.subTasks -->
                    </accordion-group>
                  </accordion>

                  <div class="card-footer">
                    <div class="task-user">
                      <div class="task-user-img">
                       <img class="us-member member" title="{{card.assigned_to.name}}" gravatar-src="card.assigned_to.mail" gravatar-size="100" />
                      </div>
                      <span>{{card.assigned_to.name}}</span>
                    </div> <!-- end of task-user -->
                    <div class="card-btns">
                      <ul>
                        <li ng-show="card.hasAttachments" ><a href="#" class=""><i class="fa fa-paperclip"></i></a></li>
                        <li><a href="#" ng-click="editCard(widget, card)" class="" data-toggle="modal" data-target="#userStoryModal"><i class="fa fa-arrows-alt"></i></a></li>
                        <li><a href="#" ng-click="showCardAccordion(card)" class="toggle-btn"><i class="fa fa-arrows-v"></i></a></li>
                      </ul>
                    </div> <!-- end of card-btns -->
                  </div> <!-- end of card-footer -->
                  
                    <!--<p>
                        <a ng-href="http://{{config.host}}/issues/{{card.id}}" target="_blank">{{card.subject}}</h3></a>  
                    </p>-->
                  <div id="overlay">
                    <img id="loading" src="http://bit.ly/pMtW1K "></img>
                  </div> <!-- end of overlay -->
                </li> <!-- end of card -->
                <li ng-show="widget.cards.length===0" style="background-color: #CCEEFA; visibility: hidden;">&nbsp;</li>
              </ul>
              <form editable-form name="editableForm" onaftersave="addNewCard(widget)" >
                <span ng-show="editableForm.$visible">
                  <div class="addNew-form">
                    <div>
                      <span class="title">subject: </span>
                      <span editable-text="newCard.subject" e-name="subject" e-required></span>
                    </div>
                    <div>
                      <span class="title">priority: </span>
                      <span editable-select="newCard.priority_id" e-name="priority_id" e-ng-options="p.id as p.name for p in priorities">
                      </span>
                    </div>
                    <span ng-show="editableForm.$visible">
                      <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                        Save
                      </button>
                      <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                        Cancel
                      </button>
                    </span> <!-- end of editableForm -->
                  </div>

                </span> <!-- end of editableForm -->
                <div class="buttons">
                  <button type="button" class="btn btn-default add-card-btn" ng-show="!editableForm.$visible" ng-click="editableForm.$show()">
                    Add a card
                  </button>
                  
                </div> <!-- end of buttons -->
              </form>
            </div> <!-- end of box-content -->
          </div> <!-- end of box -->
        </li> <!-- end of widget -->
       
       <li gridster-item="widget">
          <div class="box column-box" ng-controller="CustomWidgetCtrl">
            <div class="box-header">
                <section>
                    <h3>Project Activities</h3>
                </section>
            </div>
            <div class="box-content activity-box-content">
                <!--<ul>
                    <li ng-repeat="activity in activities track by $index">{{activity.author.name}}<br>{{activity.time}}<br>{{activity.title}}<br><div ng-bind-html="parseTrustSnippt(activity.description)"></div><br></li>
                </ul>-->
                <div class="activity-details">
                  <b>User name</b>
                  <p>abo samia abo samia abo samia abo samia abo samia abo samia abo samia abo samia abo samia abo samia abo samia abo samia abo samia abo samia </p>
                </div>
                <div class="activity-img">
                  <img src=" " alt="">
                </div>
            </div>
          </div>

        </li>

      </ul>
    </div> <!-- end of widgets -->
  </div> <!-- end of gridsterOptions -->
</div> <!-- end of largest container -->
