<div>
  <link rel="stylesheet" ng-href="{{ styleUrl }}" />    
  <div class="navbar navbar-inverse">
      <ul class="nav navbar-nav navbar-left">
        <div class="choise-select">
          <span>Release</span>
          <select class="selectpicker">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
          </select>
        </div>
        <div class="choise-select">
          <span>Sprint</span>
          <select class="selectpicker">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
          </select>
        </div>
        <a href="#">Scrummer</a>
      </ul>
  </div>

  <div class="page-header">
    <div class="col-headers col-lg-3 col-md-3 col-xs-3">
      <span>Defined</span>
    </div>
    <div class="col-headers col-lg-3 col-md-3 col-xs-3">
      <span>Inprogress</span>
    </div>
    <div class="col-headers col-lg-3 col-md-3 col-xs-3">
      <span>Completed</span>
    </div>
    <div class="col-headers col-lg-3 col-md-3 col-xs-3">
      <span>Accepted</span>
    </div>
  </div>
<div gridster="gridsterOptions">
    <div ng-model="widgets">
        <ul>
            <li gridster-item="widget" ng-repeat="widget in widgets | filter: {allowed: true}">
                <div class="box column-box" ng-controller="CustomWidgetCtrl">
                    <div class="box-header">
                        <section>
                            <h3>{{widget.title}}</h3>
                        </section>
                        <div class="box-header-btns pull-right">
                          <i>{{widget.cards.length}}</i>
                            <a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
                            <a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <ul class="connectedSortable" ui-sortable="sortableTemplates" sortable ng-model="widget.cards" widget-status="{{widget.status_id}}">
                            <li class="card" ng-repeat="card in widget.cards" id="{{card.id}}">
                              <div class="card-header heigh">
                                <a ng-href="http://{{config.host}}/issues/{{card.id}}" target="_blank" class="id">{{card.id}}</a>
                                <h5>{{card.subject}}</h5>
                              </div>
                              <accordion close-others="oneAtATime"><accordion-group> <accordion-heading> <i  id="accord-{{card.id}}" ng-hide="false" href="#" class=""> </accordion-heading>asd</accordion-group></accordion>
                              <div class="card-footer">
                                <div class="task-user">
                                  <div class="task-user-img">
                                   <img class="us-member member" title="{{card.assigned_to.firstname}} {{card.assigned_to.lastname}}" gravatar-src="card.assigned_to.mail" gravatar-size="100" />
                                  </div>
                                    <span>{{card.assigned_to.firstname}} {{card.assigned_to.lastname}}</span>
                                </div>

                                <div class="card-btns">
                                  <ul>
                                    <li ng-show="card.hasAttachments" ><a href="#" class=""><i class="fa fa-paperclip"></i></a></li>
                                    <li><a href="#" ng-click="editCard(widget, card)" class="" data-toggle="modal" data-target="#userStoryModal"><i class="fa fa-arrows-alt"></i></a></li>
                                    <li>
                                   <a href="#" ng-click="showCardAccordion(card.id)" class="toggle-btn"><i class="fa fa-arrows-v"></i></a
                                    </li>
                                    </ul>
                                </div>
                              </div>
                                <!--<p>
                                    <a ng-href="http://{{config.host}}/issues/{{card.id}}" target="_blank">{{card.subject}}</h3></a>  
                                </p>-->
                                <div id="overlay">
                                    <img id="loading" src="http://bit.ly/pMtW1K ">
                                    </img>
                                </div>
                            </li>
                            <li ng-show="widget.cards.length===0" style="background-color: #CCEEFA; visibility: hidden;">&nbsp;</li>
                        </ul>
                        
                        <form editable-form name="editableForm" onaftersave="addNewCard(widget)">
                        <span ng-show="editableForm.$visible">
                        <div>
                          <span class="title">subject: </span>
                          <span editable-text="newCard.subject" e-name="subject" e-required></span>
                        </div> 

                        <div>
                          <span class="title">priority: </span>
                          <span editable-select="newCard.priority_id" e-name="priority_id" e-ng-options="p.id as p.name for p in priorities">
                          </span>
                        </div>   
                        </span>
                        <div class="buttons">
                          <button type="button" class="btn btn-default" ng-show="!editableForm.$visible" ng-click="editableForm.$show()">
                            Add a card
                          </button>
                          <span ng-show="editableForm.$visible">
                            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                              Save
                            </button>
                            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                              Cancel
                            </button>
                          </span>
                        </div>
                      </form>  
                    </div>
                </div>
            </li>
           <!-- <li gridster-item="widget">
                <div class="box-header">
                    <section>
                        <h3>Project Activities</h3>
                    </section>
                </div>
                <div class="box-content">
                    <ul>
                        <li ng-repeat="activity in activities track by $index">{{activity.author.name}}<br>{{activity.time}}<br>{{activity.title}}<br><div ng-bind-html="parseTrustSnippt(activity.description)"></div><br></li>
                    </ul>
                </div>
            </li> -->
        </ul>
    </div>
</div>
</div>
